<h1>Hello</h1>
<p>
  My name is Mikael Eliasson and I'm a programmer. You can reach me at <a href="mailto:me@mikaeleliasson.se">me@mikaeleliasson.se</a>.</p>
<h2>Who I am</h2>
<p>I love software development. I hate technical debt. I value building it right as much as building the right it. I strive for improvement and I try to follow the <a href="http://programmer.97things.oreilly.com/wiki/index.php/The_Boy_Scout_Rule">Boy scout rule</a> at all times. I believe that less is more and that <a href="http://en.wikipedia.org/wiki/Worse_is_better">worse is better</a>. I think that the skills that will get you hired <a href="http://www.johnnybigert.se/blog/2011/06/skills-that-will-get-you-hired/">might not be the skills that you need</a>.</p>
<h2>What I do</h2>
<p>...</p>
<h2>Career history</h2>
<ul>
  <li>
    <span class="emph">2011 &ndash; 2014, Sogeti:</span> Software developer. Example engagements are development and maintenance of Sundsvalls kommun's website, Din Tur's website and Mittuniversitetet's application for administering courses and programs. Technologies: C#, JavaScript, CSS, T-SQL, SpecFlow, Selenium, EPiServer CMS, TeamCity, TFS, Visual Studio and Scrum.
  </li>
  <li>
    <span class="emph">2010 &ndash; 2011, Steria:</span> Software developer. Example engagements were development and maintenance of ALMI's banking application. Responsible for software configuration management at the Sundsvall office. Technologies: C#, T-SQL, .NET, NUnit, NHibernate, StructureMap, TFS, TeamCity and Scrum.
  </li>
  <li>
    <span class="emph">2007 &ndash; 2010, Ericsson:</span> Software developer. Development of a proxy server, as part of a full real-time telecommunication system. Member of the department's architectural design committee. Technologies: C++, SIP, ClearCase, Rational Rose, Linux, Emacs and Scrum.
  </li>
  <li>
    <span class="emph">2007, Ericsson:</span> Thesis worker. Development of a test tool. Wrote a <a href="http://www.nada.kth.se/~mikaelel/eliasson_mikael.pdf">thesis</a> with the title Provoking software failures in SIP servers &ndash; the development of an automatic test tool. Technologies: C++, SIP, TCP, UDP, XP.
  </li>
  <li>
    <span class="emph">2006, Vretmaskin:</span> Summer internship. Specifying software requirements and writing user manuals.
  </li>
</ul>
<h2>Education</h2>
<ul>
  <li>
    <span class="emph">2003 &ndash; 2008, KTH, Stockholm:</span> M.Sc. Computer Science.
  </li>
  <li>
    <span class="emph">2002 &ndash; 2003, Mittuniversitetet, Sundsvall:</span> Mathematics.
  </li>
</ul>
<h2>Certificates</h2>
<ul>
  <li>
    <a href="http://www.istqb.org/certification-path-root/foundation-level/foundation-level-in-a-nutshell.html">ISTQB Foundation Certification</a>
  </li>
</ul>
<p>
  Updated 2013-12-14
</p>
