<link rel="stylesheet" href="stylesheets/game_of_life.css" />
<script src="javascripts/game_of_life.js"></script>
<span></span>
<canvas id="canvas" width="800" height="600"></canvas>
<script>
 gol.controller.run();
</script>
