<aside>
  <div>
    <div>
      Now playing
    </div>
  </div>
  <div>
    <div class="marquee">
      <a href="/letetris">Le Tetris</a>
    </div>
  </div>
</aside>
<ul class="content">
  <li>
    2013-10-15 <a href="#">Lorem ipsum dolor sit amet</a>
  </li>
  <li>
    2013-05-17 <a href="#">Fusce tempor mi quis</a>
  </li>
  <li>
    2012-09-24 <a href="#">Morbi malesuada pretium odio</a>
  </li>
</ul>
