<aside>
  <div>
    <div>
      Now playing
    </div>
  </div>
  <div>
    <div class="marquee">
      <a href="/letetris">Le Tetris</a>
    </div>
  </div>
</aside>
<ul class="content">
  <li>
    <a href="#">Lorem ipsum dolor sit amet</a><span>2014-02-29</span>
  </li>
  <li>
    <a href="#">Fusce tempor mi quis</a><span>2014-02-17</span>
  </li>
  <li>
    <a href="#">Morbi malesuada pretium odio</a><span>2014-01-22</span>
  </li>
</ul>
