<aside>
  <div>
    <div>
      Now showing
    </div>
  </div>
  <div>
    <div class="marquee">
      <%= link_to "Le Tetris", le_tetris_path %>
    </div>
  </div>
</aside>
<ul class="content">
  <li>
    <%= link_to "Game of Life", game_of_life_path %> &ndash; Conway's cellular automaton, implemented using the canvas element and pure JavaScript.
  </li>
  <li>
    <a href="/rockstar-developer">Rockstar developer</a> &ndash; A somewhat responsive web form with a Spotify integration and Parsley.js input validation.
  </li>
  <li>
    <a href="#">Fusce tempor mi quis</a> &ndash; Ut vel urna bibendum, fermentum lacus volutpat, condimentum lacus. Nulla eget pellentesque mauris. Curabitur malesuada magna vitae.
  </li>
  <li>
    <a href="#">Morbi malesuada</a> &ndash; Cras iaculis, arcu at fermentum tempor, velit felis dapibus risus, a auctor neque risus sed diam. Mauris blandit.
  </li>
</ul>
